language: python
python:
  - "3.6"
# command to install dependencies
install: 
  - pip install coveralls
# command to run tests
script:
  coverage run test.py
#  coverage run --source=Guests test.py
after_success:
  coveralls
