language: python
python:
  - "3.6"
# command to install dependencies
install: 
#  - pip install pytest pytest-cov
  - pip install coveralls
# command to run tests
script:
  - coverage run --source Guests -m py.test
#  - coverage report
#  coverage run --source=Guests test.py
after_success:
  - coveralls
